*{
    margin: 0px;
    padding: 0px;
}

body{
    background: white;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background:rgba(0,0,0,.9);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: none;
  margin: auto;
  padding: 0;
  max-width: 1200px;
}

.modal-content #portrait img{
    width: 50%;
    margin-left: 25%;
}

.modal-content #landscape img{
    width: 100%;
    margin-left: 0%;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#contact-icons_mobile{
    display: none;
}

#Top_Border{
    background: white;
    margin: 0px;
    padding: 50px 20px 125px 20px; /* With only values two the first value (30px) is top and bottom whilst the second value (20px) is left and right */
    /* With four values (10px 10px 10px 10px) = top right bottom left*/
}

.Mobile_Menu{
    display: none;
}

.Emanz_Photography_headers_mobile{
    display: none;
}

.Emanz_Photography_headers_mobile ul{
    display: none;
}

/* CSS for "Emanz Photography title"*/
#F_title{
    padding: 0px 0px 0px 30px; /* With only two the first value (30px) is top and bottom whilst the second value (20px) is left and right */
    /* With four (10px 10px 10px 10px) = top right bottom left*/
    float: left;
    text-decoration: none;
    font-family: Andale Mono;
    font-size: 15px;
    text-transform: uppercase;
}

#F_title h1{
    padding-left: 0px;
}

#F_title a{
    color: black;
    text-decoration: none;
}

#F_title a:hover{
    color: black;
    opacity: .4;
}

#F_Photography_headers{
    direction: rtl;
    float: right;
    margin-right: 10px;
    margin-top: 15px;
}

/* CSS for "top border headers" */
/* Must use "#" if it's a div class */
/* The #(Emanz_Photography_headers) is the div id name and the ul specifies that the lists are to be edited*/
#F_Photography_headers ul{
    list-style: none;
    font-size: 13px;
    position: absolute;
    color: black;
}

#F_Photography_headers ul li{
    width: 80px;
    padding-right: 15px;
    line-height: 10px;
    text-align: center;
    font-family: Andale Mono;
    z-index: 100; 
    float: right;
}

/* The #(Emanz_Photography_headers) is the div id name and the a (within the ul)specifies that the a's (a href links) are to be edited*/
/* Side note: Just "a", instead of "#Emanz_Photography_headers ul a", can be used since there are only one "a's" */
/* Side note 2: But "#Emanz_Photography_headers ul a" will be used since there will be multiples a's(a href link). This will ensure the "a's" within that specific div class or header is edited and not all possible a's within*/
#F_Photography_headers ul a{
    color: black;
    text-decoration: none; /* Eliminates default underline when using "a href" */
}

#F_Photography_headers ul li a:hover{
    color: lightgray;
    cursor: pointer;
}

.footer{
    background: yellow;
    margin: 0px;
    bottom: 0px;
    width: 100%;
}

.footer #EP_footer_title{
    font-size: 13px;
    padding: 45px 30px 0px 30px;
    color: black;
    float: left;
    word-spacing: 8px;
    margin-right: 85px;
}

.footer #EP_footer_sides{
    padding-right: 30px;
}

.footer #EP_footer_sides li{
    font-size: 12px;
    padding: 45px 15px 0px 30px;
    color: black;
    float: right;
    display: inline;
    list-style: none;
    word-spacing: 4px;
}

.footer #EP_footer_sides a{
    text-decoration: none;
}

.footer #EP_footer_sides li:hover{
    color: black;
    cursor: pointer;
}