*{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

#photographer-title{
    margin-top: 15%;
    font-family: Andale Mono;
}

#photo-title{
    font-size: 20px;
    color: white;
}

#F_name{
    font-size: 20px;
}

#F_name a{
    color: red;
    text-transform: uppercase;
    cursor: grab;
    text-decoration: none;
}

#F_name a:hover{
    color: darkslategray;
}

#button-press h2{
    margin-top: 70px;
}

#button-press h2 a{
    padding: 5px 10px;
    border-style: solid;
    text-decoration: none;
    font-family: Andale Mono;
    color: aliceblue;
    font-size: 20px;
}

#button-press h2 a:hover{
    background-color: white;
    color: black;
}

#contact-icons{
    display: none;
}

